# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Build dir
build*
debug_build
release_build
cmake-build-*
/bin
/lib
/install

# Qt cache
CMakeLists.txt.user
CMakeLists.txt.user.*

# IDE project files
*.sublime-project
*.sublime-workspace
.idea

# Local config windows
_configure.bat
_open-project.bat
_start-cmake-gui.bat
_start-cmd.bat

# Local config unix
.localconfig

# Wiki
wiki

# external projects
source/tests/googletest-src
